header {
  background-color: orange;
  color: white;
  padding: 20px;
}

section {
  background-color: pearl;
  margin: 20px auto;
  padding: 20px;
  max-width: 400px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  border-radius: 10px;
}

.perfil img {
  border-radius: 50%;
  margin-top: 20px;
}

ul {
  list-style: none;
  padding: 0;
}
